:root{
    --bitcoin-orange: #F7931A;
    --just-white: #FFFFFF;
    --soft-orange: #FFE9D4;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

header{
    background: linear-gradient(228deg, #201E1C 11.19%, #F7931A 100%);    
    display: flex;
    flex-direction: column;
    height: 334px;
    justify-content: center;
    min-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

header img{
    align-self: center;
    height: 24px;
    margin-top: 60px;
    width: 150px;
}

.header__title-container{
    align-self: center;
    height: 218px;
    max-width: 900px;
    min-width: 288px;
    margin-top: 25px;
    width: 90%;
}

.header__title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title-container p{
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-top: 40px;
}

.header__title-container .header__button{
    background-color: var(--just-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    color: var(--warm-black);
    cursor: pointer;
    display: block;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: bold;
    left: calc(50% - 113px);
    margin-top: 25px;
    padding: 12px 16px;
    position: absolute;
    text-decoration: none;
    top: 287px;
}

.header__title-container .header__botton span{
    background-image: url('./assets/icons/arrow_down.png');
    display: inline-block;
    height: 16px;
    width: 22px;
}

main{
    background-color: var(--off-white);
    height: auto;
    width: 100%;
}

.exchange-container{
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

.background-bitcoin{
    background-image: url('./assets/imgs/bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin: 40px auto;
    width: 200px;
}

.exchange-container .exchange-container__title{
    font-family: 'DM Sans';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    min-width: 288px;
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

.exchange-container .exchange-container__caption{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    margin: 24px auto;
    padding-top: 24px 0;
    text-align: center;
    width: 80%;
}

.exchange-table{
    display: grid;
    font-family: 'DM Sans';
    grid-column-gap: .2rem;
    grid-row-gap: .2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 24px auto;
    min-width: 235px;
    max-width: 500px;
    width: 70%;
}

.exchange-table .exchange-table__title{
    background-color: transparent;
    color: var(--bitcoin-orange);
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: start;
}

.exchange-table > div{
    background-color: var(--just-white);
    font-family: 'Inter';
    letter-spacing: -0.32px;
    padding: 1rem 1.2rem;
}

.exchange-table .cryto{
    align-items: center;
    color: #B5B0AC;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
}

.exchange-table .price{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    padding: 11px 12px;
}

.exchange-table .price > p{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.exchange-table .exchange-table_top-left{
    border-radius: 1.5rem 0 0 0;
}

.exchange-table .exchange-table_top-right{
    border-radius: 0 1.5rem 0 0;
}

.exchange-table .exchange-table_bottom-left{
    border-radius: 0 0 0 1.5rem;
}

.exchange-table .exchange-table_bottom-right{
    border-radius: 0 0 1.5rem 0;
}

.exchange-table .exchange-table_arrow-down{
    background-image: url('./assets/icons/trending-down.png');
    display: inline-block;
    height: 10px;
    width: 12px;
}

.exchange-table .exchange-table_arrow-up{
    background-image: url('./assets/icons/trending-up.png');
    display: inline-block;
    height: 10px;
    width: 12px;
}


.exchange-container__date{
    background-color: var(--soft-orange);
    border-radius: 8px;
    color: var(--warm-black);
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 70%;
}