:root{
    --bitcoin-orange: #F7931A;
    --just-white: #FFFFFF;
    --soft-orange: #FFE9D4;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'DM Sans', sans-serif;
    font-size: 62.5%;
}

/* Containers */
header{
    background: linear-gradient(228deg, #201E1C 11.19%, #F7931A 100%);    
    display: flex;
    flex-direction: column;
    height: 334px;
    justify-content: center;
    min-width: 320px;
    position: relative;
    text-align: center;
    width: 100%;
}

header img{
    align-self: center;
    height: 24px;
    margin-top: 60px;
    width: 150px;
}

.header__title-container{
    align-self: center;
    height: 218px;
    max-width: 900px;
    min-width: 288px;
    margin-top: 25px;
    width: 90%;
}

.header__title-container h1{
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}

.header__title-container p{
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-top: 40px;
}

.header__title-container .header__button{
    background-color: var(--just-white);
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    color: var(--warm-black);
    cursor: pointer;
    display: block;
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: bold;
    left: calc(50% - 113px);
    margin-top: 25px;
    padding: 12px 16px;
    position: absolute;
    text-decoration: none;
    top: 287px;
}

.header__title-container .header__button span{
    background-image: url('./assets/icons/arrow_down.png');
    display: inline-block;
    height: 16px;
    width: 22px;
}

/* Main */
main{
    background-color: var(--off-white);
    height: auto;
    width: 100%;
}

/* Containers Sections */
.exchange-container, .details-container{
    height: auto;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

/* Exchange Section */
.background-bitcoin{
    background-image: url('./assets/imgs/bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    margin: 40px auto;
    width: 200px;
}

.exchange-container .exchange-container__title{
    font-family: 'DM Sans';
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    min-width: 288px;
    margin: 0 auto;
    width: 90%;
}

.exchange-container .exchange-container__caption{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    margin: 24px auto;
    max-width: 900px;
    padding-top: 24px;
    text-align: center;
    width: 80%;
}

.table-coin{
    display: grid;
    font-family: 'DM Sans';
    grid-column-gap: .2rem;
    grid-row-gap: .2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin: 24px auto;
    min-width: 235px;
    max-width: 500px;
    width: 260px;
}

.exchange-table .exchange-table__title{
    background-color: transparent;
    color: var(--bitcoin-orange);
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: start;
}

.exchange-table > div{
    font-family: 'Inter';
    letter-spacing: -0.32px;
    padding: 1rem 1.2rem;
}

.exchange-table .cryto{
    background-color: var(--just-white);
    color: #B5B0AC;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 6px;
    padding-top: 12px;
    text-align: left;
}

.exchange-table .price{
    align-items: center;
    background-color: var(--just-white);
    display: flex;
    justify-content: space-evenly;
    padding: 11px 12px;
}

.exchange-table .price > p{
    color: #757575;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.exchange-table .exchange-table_top-left{
    border-radius: 1.5rem 0 0 0;
}

.exchange-table .exchange-table_top-right{
    border-radius: 0 1.5rem 0 0;
}

.exchange-table .exchange-table_bottom-left{
    border-radius: 0 0 0 1.5rem;
}

.exchange-table .exchange-table_bottom-right{
    border-radius: 0 0 1.5rem 0;
}

.exchange-table .exchange-table_arrow-down{
    background-image: url('./assets/icons/trending-down.png');
    display: inline-block;
    height: 10px;
    width: 12px;
}

.exchange-table .exchange-table_arrow-up{
    background-image: url('./assets/icons/trending-up.png');
    display: inline-block;
    height: 10px;
    width: 12px;
}

.exchange-container__date{
    background-color: var(--soft-orange);
    border-radius: 8px;
    color: var(--warm-black);
    font-family: 'Inter';
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
    width: 200px;
}

/* Details Section */

.details-container{
    background-color: var(--warm-black);
    color: #808080;
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans';
}

.details-container .details-container__title{
    align-self: center;
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    margin-top: 64px;
    width: 90%;
}

.details-container .details-container__caption{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 32px;
    padding-top: 24px;
}

.details-container .details-item-container{
    align-self: center;
}


.details-item {
    background-color: var(--warm-black-1);
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
    height: 160px;
    margin-bottom: 15px;
    max-width: 450px;
    padding: 20px;
    text-align: start;
    width: 100%;
}

.details-item .details-item__title{
    color: var(--just-white);
    font-size: 1.8rem;
    font-weight: bold;
}

.details-item .details-item__text {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: justify;
    min-width: 252px;
}

/* Bitcoin backgroud */
.bitcoin-img-container{
    background-image: url('./assets/imgs/bitcoinbaby1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.bitcoin-img-container p{
    color: var(--just-white);
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 2.4rem;
    left: calc(50% - 81px);
    line-height: 26px;
    padding-top: 60px;
    position: absolute;
}

/* Plan Section */

.plans-container__slider{
    display: flex;
    gap: 10px
}

.plans-container{
    padding-bottom: 24px;
}
.plans-container .plans-container__title{
    font-family: 'DM Sans';
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    width: 90%;
}

.plans-container .plans-container__title h2{
    color: var(--warm-black);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
}

.plans-container .plans-container__title p{
    color: #757575;
    font-size: 1.4rem;
    padding-top: 24px;
    
}

.plans-container__slider{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container .plans-container__card{
    border-radius: 8px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
    font-family: 'Inter';
    height: 265px;
    margin: 60px auto;
    min-width: 190px;
    max-width: 250px;
    text-align: center;
    padding-bottom: 24px;
    position: relative;
    scroll-snap-align: center;
}

.plans-container .recommended{
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    font-weight: bold;
    left: calc(50% - 60px);
    padding: 8px;
    position: absolute;
    top: -15px;
    width: 120px; 
}

.plans-container .plan-card__title{
    font-family: 'DM Sans';
    font-size: 1.4rem;
    padding-top: 35px;
}

.plans-container .plan-card__price{
    font-size: 5.2rem;
    font-weight: bold;
    letter-spacing: -4.16px;
    padding-bottom: 16px;
    padding-top: 8px;
}

.plans-container .plan-card__price span{
    font-size: 1.2rem;
    font-weight: 500;
    left: calc(50% - 50px);
    margin: 10px;
    position: absolute;
}

.plans-container .plan-card__saving{
    color:#757575;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 16px;
}

.plans-container .plan-card__ca{
    background-color: var(--just-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    color: var(--warm-black);
    font-family: 'DM Sans';
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 16px;
    padding: 12px 16px;
}

.plans-container .plan-card__ca span{
    display: inline-block;
    background-image: url('./assets/icons/arrow-right.png');
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

footer{
    align-items: center;
    background-color: var(--bitcoin-orange) ;
    color: var(--just-white);
    display: flex;
    flex-direction: row;
    font-family: 'DM Sans';
    height: 150px;
    justify-content: space-around;
    width: 100%;
}

footer li{
    font-size: 1.4rem;
    list-style: none;
}

footer .footer__logo{
    background-image: url('./assets/imgs/logo-footer.svg');
    display: block;
    height: 24px;
    margin: 0 auto;
    width: 40px;
}

footer p{
    font-size: .8rem;
}